@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

body {

}

#outros :hover{
color: white;
text-decoration-color: black;
}

#a{
	float:center;
	margin-left: 40px;
}
#text{
	text-align: centerS;
}
.im1{
	position: relative;
	border: dotted  #1E90FF;
	border-width: 1.1vh;

}